S3method(as.dist,signatureDistance)
S3method(plot,msviper)
S3method(print,msviper)
S3method(print,regulon)
S3method(scale,signatureDistance)
S3method(summary,msviper)
S3method(summary,regulon)
export(aREA)
export(aracne2regulon)
export(bootstrapTtest)
export(bootstrapmsviper)
export(distMode)
export(fcvarna)
export(filterCV)
export(filterColMatrix)
export(filterRowMatrix)
export(frcv)
export(frvarna)
export(integrateSignatures)
export(ledge)
export(msviper)
export(msviperAnnot)
export(msviperCombinatorial)
export(msviperSynergy)
export(pruneRegulon)
export(rowTtest)
export(scaleGroups)
export(shadow)
export(signatureDistance)
export(ttestNull)
export(viper)
export(viperSignature)
export(viperSimilarity)
import(Biobase)
import(methods)
importFrom(mixtools,normalmixEM)
importFrom(stats,as.dist)
