export(aracne2regulon)
export(bootstrapmsviper)
export(distMode)
export(fcvarna)
export(frcv)
export(frvarna)
export(integrateSignatures)
export(ledge)
export(msviper)
export(msviperAnnot)
export(msviperCombinatorial)
export(msviperSynergy)
export(pruneRegulon)
export(scaleGroups)
export(shadow)
export(signatureDistance)
export(viper)
exportMethods(bootstrapTtest)
exportMethods(filterCV)
exportMethods(rowTtest)
exportMethods(ttestNull)
exportMethods(viperSignature)
importFrom(stats,as.dist)
importFrom(mixtools,normalmixEM)
import(Biobase,methods)
S3method(as.dist,signatureDistance)
S3method(plot,msviper)
S3method(print,msviper)
S3method(print,regulon)
S3method(scale,signatureDistance)
S3method(summary,msviper)
S3method(summary,regulon)
